// =========================================
// COLORS
// =========================================

$color-background: #02110B;
$color-text: #ffffff;


// =========================================
// TYPOGRAPHY
// =========================================

$font-fig: "Inter", sans-serif;
$font-body: "Inria Serif", serif;
$font-notebook: "Cormorant Garamond", serif;