// =========================================
// COLORS
// =========================================

$color-background: #02110B;
$color-text: #ffffff;
$color-accent: #F9A742;
$color-project: #936227;
$color-sage: #485F2F;


// =========================================
// TYPOGRAPHY
// =========================================

$font-fig: "Inter", sans-serif;
$font-body: "Inria Serif", serif;
$font-notebook: "Cormorant Garamond", serif;