@use "fonts";
@use "pages";
@use "projects";


//FONTS
$font-fig: "Inter", sans-serif;
$font-body: "Inria Serif", serif;
$font-display: "Libertinus Serif Display", serif;
$font-accent: "Cormorant Garamond", serif;


body {
  font-family: $font-body;
}

h1 {
  font-family: $font-body;
}

h2,
h3 {
  font-family: $font-body;
}

//PAGES


//PROJECTS



//GLOBAL
body {
  margin: 0;
  font-family: $font-body;
  font-size: 1rem;
  line-height: 1.5;
}